<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Some page</title>
  </head>
  <body>
<h1>we will right back</h1>
<p>this is site is currently being updated</p>
  </body>
</html>
